# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor & IDE
.vscode/
.idea/
*.suo
*.user
*.sublime-project
*.sublime-workspace

# Logs & temp files
*.log
npm-debug.log*

# Environment
.env
.env.local